<div *ngIf="!country; else divCardCountry" class="alert alert-info">
  Espere por favor...
</div>

<ng-template #divCardCountry>
  <div class="card" style="width: 22rem;">
    <img [src]= "country[0].flags.png" class="card-img-top" alt="...">
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong> País: </strong> {{ country[0].name.common }} </li>
        <li class="list-group-item"><strong> Capital: </strong> {{country[0].capital}} </li>
        <li class="list-group-item"><strong> Idioma: </strong> {{country[0].languages | json}}</li>
        <li class="list-group-item"><strong> Código Alpha: </strong> {{country[0].cca2}} </li>
      </ul>
    </div>
  </div>

  <br>

  <h3>Traducciones</h3>
  <div class="row">
    <div class="col">
      <span class="badge bg-primary my-2"> {{ country[0].translations.ara.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.ces.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.deu.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.fra.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.hun.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.ita.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.jpn.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.kor.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.por.common}}</span>
      <span class="badge bg-primary my-2"> {{ country[0].translations.rus.common}}</span>
    </div>
  </div>

  <hr>

  <h3>Código</h3>
  <pre>{{country | json}}</pre>
</ng-template>


